<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--配置数据库的连接池-->
    <!-- 配置数据源，使用dbcp -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="10"/>
        <property name="maxIdle" value="5"/>
        <!--<property name="defaultAutoCommit" value="false"/>-->
    </bean>

    <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- 使用annotation定义事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" />


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >

        <!-- 加载mybatis的配置信息 -->
        <!--<property name="configLocation" value="cn/labelnet/mybatis/config/SqlmapDaoConfig.xml"></property>-->

        <!-- 加载数据源  dataSource-->
        <property name="dataSource" ref="dataSource"></property>

    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--com.dao是mapper类所在的包-->
        <property name="basePackage" value="cn.cvte.dao.mapper"/>
        <!--下面这个省略掉的话也不会出错，建议保留它-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
    </bean>


    <!--<context:property-placeholder location="classpath:jdbc.properties"/>-->
    <!--&lt;!&ndash;配置数据库的连接池&ndash;&gt;-->
    <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">-->
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/cvte?characterEncoding=utf8"></property>-->
        <!--<property name="username" value="root"></property>-->
        <!--<property name="password" value="root"></property>-->
        <!--<property name="maxActive" value="10"></property>-->
        <!--<property name="maxIdle" value="5"></property>-->
    <!--</bean>-->


    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >-->

    <!--&lt;!&ndash; 加载mybatis的配置信息 &ndash;&gt;-->
    <!--&lt;!&ndash;<property name="configLocation" value="cn/labelnet/mybatis/config/SqlmapDaoConfig.xml"></property>&ndash;&gt;-->

    <!--&lt;!&ndash; 加载数据源  dataSource&ndash;&gt;-->
    <!--<property name="dataSource" ref="dataSource"></property>-->

    <!--</bean>-->

    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
    <!--&lt;!&ndash;com.dao是mapper类所在的包&ndash;&gt;-->
    <!--<property name="basePackage" value="cn.cvte.dao.mapper"/>-->
    <!--&lt;!&ndash;下面这个省略掉的话也不会出错，建议保留它&ndash;&gt;-->
    <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
    <!--</bean>-->

    <!--<cache:annotation-driven />-->

    <!--&lt;!&ndash; redis 相关配置 &ndash;&gt;-->
    <!--<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
        <!--<property name="maxIdle" value="${redis.maxIdle}" />-->
        <!--<property name="maxWaitMillis" value="${redis.maxWait}" />-->
        <!--<property name="testOnBorrow" value="${redis.testOnBorrow}" />-->
    <!--</bean>-->

    <!--<bean id="JedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"-->
         <!--&gt;-->
        <!--<property name="hostName" value="${redis.host}"/>-->
        <!--<property name="port" value="${redis.port}"/>-->
        <!--<property name="poolConfig" ref="poolConfig"/>-->
    <!--</bean>-->

    <!--<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">-->
        <!--<property name="connectionFactory" ref="JedisConnectionFactory" />-->
    <!--</bean>-->

    <!--&lt;!&ndash; spring自己的缓存管理器，这里定义了缓存位置名称 ，即注解中的value &ndash;&gt;-->
    <!--<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">-->
        <!--<property name="caches">-->
            <!--<set>-->
                <!--&lt;!&ndash; 这里可以配置多个redis &ndash;&gt;-->
                <!--&lt;!&ndash; <bean class="com.cn.util.RedisCache">-->
                     <!--<property name="redisTemplate" ref="redisTemplate" />-->
                     <!--<property name="name" value="default"/>-->
                <!--</bean> &ndash;&gt;-->
                <!--<bean class="cn.cvte.dao.cache.RedisCache">-->
                    <!--<property name="redisTemplate" ref="redisTemplate" />-->
                    <!--<property name="name" value="common"/>-->
                    <!--&lt;!&ndash; common名称要在类或方法的注解中使用 &ndash;&gt;-->
                <!--</bean>-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="dataJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
        <!--<property name="maxTotal" value="1000"/>-->
        <!--<property name="maxIdle" value="500"/>-->
        <!--<property name="maxWaitMillis" value="10000"/>-->
        <!--<property name="testOnBorrow" value="false"/>-->
        <!--<property name="testOnReturn" value="false"/>-->
        <!--<property name="blockWhenExhausted" value="false"/>-->
    <!--</bean>-->

    <!--<bean id="redisDao" class="cn.cvte.dao.RedisDao" lazy-init="false">-->
        <!--<constructor-arg index="0" ref="dataJedisPoolConfig"/>-->
        <!--<constructor-arg index="1" value="119.29.53.102"/>-->
        <!--<constructor-arg index="2" value="6379"/>-->
        <!--<constructor-arg index="3" value=""/>-->
    <!--</bean>-->

</beans>